<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>接口平台</title>
    <!-- CSS -->
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

<!-- Content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <a class="logo" href="#"></a>
                    <h1>欢迎使用接口平台</h1>
                    <div class="container-fluid">
                        <div class="top-big-link">
                            <!--                            <a class="btn btn-link-1 launch-modal" href="#" data-modal-id="modal-sign">登录</a>-->
                            <button class="btn  launch-modal btn-primary" type="button"
                                    data-modal-id="modal-sign" style="background: green">登录
                            </button>
                        </div>
                        <div class="top-big-link">
                            <button class="btn launch-modal btn-warning" type="button"
                                    data-modal-id="modal-register">注册
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sign" tabindex="-1" role="dialog" aria-labelledby="modal-register-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title">登录</h3>
                <p>请输入账号密码</p>
            </div>
            <div class="modal-body">
                <form role="form" method="post" class="registration-form" id="login" onsubmit="return chenckLogin()">
                    <div class="form-group">
                        <label class="sr-only" for="form-first-name">账号</label>
                        <input type="text" name="userName" placeholder="账号..." required
                               class="form-first-name form-control">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-last-name">密码</label>
                        <input type="text" name="passWord" placeholder="密码..." required
                               class="form-last-name form-control">
                    </div>
                    <button type="submit" class="btn">点我登录!</button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="modal-register-label"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="modal-register-label">注册</h3>
                <p>请输入账号密码邮箱</p>
            </div>

            <div class="modal-body">

                <form role="form" method="post" id="register" class="registration-form" onsubmit="return register()">
                    <div class="form-group">
                        <label class="sr-only" for="form-first-name">账号</label>
                        <input type="text" name="userName" placeholder="账号..." required
                               class="form-first-name form-control" id="form-first-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-last-name">密码</label>
                        <input type="text" name="passWord" placeholder="密码..." required
                               class="form-last-name form-control" id="form-last-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-email">邮箱</label>
                        <input type="text" name="email" placeholder="邮箱..." class="form-email form-control"
                               required
                               id="form-email">
                    </div>
                    <button type="submit" class="btn">点我注册!</button>
                </form>

            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">详细信息</h4>
            </div>
            <div class="modal-body" id="nr">

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- Javascript -->
<script src="assets/js/jquery-1.11.1.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>

<!--[if lt IE 10]>
<script src="assets/js/placeholder.js"></script>
<![endif]-->
<script>
    function chenckLogin() {
        var data = $("#login").serialize();
        $.ajax({
            type: "POST",
            url: "/checklogin",
            data: data,
            dataType: "json",
            async : false,
            success: function (data) {
                if (data.success) {
                    window.location.href = document.location.origin + "/show";
                } else {
                    $('#myModal').modal('show');
                    $("#nr").text(data.message);
                }
            },
            error: function (data) {
                $('#myModal').modal('show');
                $("#nr").text(data.message);
            }
        });
        return false;
    }

    function register() {
        var data = $("#register").serialize();
        $.ajax({
            type: "POST",
            url: "/register",
            data: data,
            dataType: "json",
            async : false,
            success: function (data) {
                if (data.success) {
                    window.location.href = document.location.origin + "/show";
                } else {
                    $('#myModal').modal('show');
                    $("#nr").text(data.message);
                }
            },
            error: function (data) {
                $('#myModal').modal('show');
                $("#nr").text(data.message);
            }
        });
        return false;
    }
</script>
</body>

</html>